.container{
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.color-blue {
    background-color: #3498db;
    color: #fff;
}
.color-red {
    background-color: #e74c3c;
    color: #fff;
}